version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - fastapi

  fastapi:
    build:
      context: ./python
      dockerfile: Dockerfile
    container_name: fastapi-metrics
    ports:
      - "8000:8000"

volumes:
  prometheus-data:
